package dashboard

import "github.com/mbvlabs/grafto/views/layouts"

templ Home() {
	@layouts.Dashboard() {
		<main class="container mx-auto">
			<h1>
				Dashboard
			</h1>
			<p>
				Dashboard content
			</p>
		</main>
	}
}
