ENVIRONMENT=development

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

POSTMARK_API_TOKEN=

DATABASE_KIND=postgres
PORT=5432
HOST=127.0.0.1
NAME=graft
USER=postgres
PASSWORD=postgres

PASSWORD_PEPPER=

DOMAIN_NAME=

CSRF_TOKEN=
