package layouts

import (
	"github.com/mbvlabs/grafto/views/components"
	"github.com/mbvlabs/grafto/routes/contexts"
)

templ Base(head templ.Component) {
	<!DOCTYPE html>
	<html lang="en" data-theme="grafto">
		@head
		<body class="flex flex-col min-w-screen h-screen">
			@components.Nav()
			{ children... }
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/alpine.js"></script>
		</body>
		<div class="toast toast-end">
			for _, flash := range contexts.ExtractFlashMessages(ctx) {
				@components.ToastMessage(flash)
			}
		</div>
	</html>
}
