package layouts

import (
	"github.com/mbvlabs/grafto/views/components"
	"github.com/mbvlabs/grafto/routes/paths"
)

templ Dashboard() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Grafto</title>
			<link href={ paths.GP(ctx, paths.MainCss) } rel="stylesheet"/>
			<link rel="icon" type="image/png" sizes="16x16" href={ paths.GP(ctx, paths.Favicon16) }/>
			<link rel="icon" type="image/png" sizes="32x32" href={ paths.GP(ctx, paths.Favicon32) }/>
		</head>
		<body class="flex flex-col min-w-screen h-screen">
			@components.Nav()
			{ children... }
			<script src={ paths.GP(ctx, paths.HtmxJS) }></script>
			<script src={ paths.GP(ctx, paths.AlpineJS) }></script>
		</body>
	</html>
}
