package authentication

import (
	"github.com/mbvlabs/grafto/views"
	"github.com/mbvlabs/grafto/views/internal/components"
	"github.com/mbvlabs/grafto/views/internal/layouts"
	"github.com/mbvlabs/grafto/router/routes"
)

type ForgottenPasswordFormProps struct {
	CsrfToken        string
	InternalError    bool
	Success          bool
	NoAssociatedUser bool
}

templ ForgottenPasswordForm(props ForgottenPasswordFormProps) {
	if props.InternalError {
		// TODO: Style or replace formFlagWrapper and ErrorFlag if needed
		@components.ErrorFlag("An error occured we could not recover from.")
	}
	if props.Success {
		// TODO: Style or replace formFlagWrapper and SuccessFlag if needed
		@components.SuccessFlag("A link has been sent to the provided email to reset your password.", nil)
	}
	if props.NoAssociatedUser {
		// TODO: Style or replace formFlagWrapper and WarningFlag if needed
		@components.WarningFlag("No user found with that email.")
	}
	<div hx-target="this" hx-swap="outerHTML" class="login-form">
		// Re-use login-form styles
		<div class="login-header">
			<h1>Forgotten Password</h1>
		</div>
		<div class="login-body">
			<form hx-post={ routes.StoreForgotPassword.Path }>
				<input type="hidden" name="gorilla.csrf.Token" value={ props.CsrfToken }/>
				<div class="form-fields">
					<div>
						@components.InputField("Email", "email", "email", "Enter your email", templ.Attributes{"required": true}, components.InputFieldProps{})
					</div>
					<button
						type="submit"
						class="btn btn-primary"
					>
						Reset password
					</button>
				</div>
			</form>
		</div>
	</div>
}

templ ForgottenPasswordPage(csrfToken string) {
	@layouts.Base(
		views.WithTitle("Forgotten Password")) {
		<main class="container main">
			@ForgottenPasswordForm(ForgottenPasswordFormProps{CsrfToken: csrfToken})
		</main>
	}
}
