package views

import "github.com/mbvlabs/grafto/views/internal/layouts"
import "github.com/mbvlabs/grafto/routes/paths"

templ AboutPage() {
	@layouts.Base(WithSlug(paths.GetFull(ctx, paths.About))) {
		<main class="container mx-auto my-auto">About</main>
	}
}
