package views

import "github.com/mbvlabs/grafto/views/internal/layouts"
import "github.com/mbvlabs/grafto/router/routes"

templ AboutPage() {
	@layouts.Base(WithSlug(routes.AboutPage.Path)) {
		<main class="flex-1 w-full px-4 flex flex-col justify-center items-center">
			<h1>About</h1>
		</main>
	}
}
