package views

import "github.com/mbv-labs/grafto/views/internal/layouts"

templ InternalServerError(head Head, fromLocation string) {
	@layouts.Base(head.Build()) {
		<div class="h-full w-full flex flex-col items-center mt-44">
			<h1 class="text-4xl">Internal Server Error</h1>
			<p class="text-lg mt-2">Sorry, something went wrong.</p>
			<span class="mt-4">
				Go back <a class="text-secondary hover:underline" href={ templ.URL(fromLocation) }>here</a>
			</span>
		</div>
	}
}
