package views

import (
	"context"
	"fmt"
	"github.com/mbvlabs/grafto/config"
	"github.com/mbvlabs/grafto/routes/contexts"
)

type metaContent struct {
	content  string
	name     string
	property string
}

type headData struct {
	title       string
	description string
	image       string
	slug        string
	metaType    string
	extraMeta   []metaContent
}

type headDataOption func(*headData)

func WithTitle(title string) headDataOption {
	return func(hd *headData) {
		hd.title = fmt.Sprintf("%s | %s", title, hd.title)
	}
}

func WithDescription(description string) headDataOption {
	return func(hd *headData) {
		hd.description = description
	}
}

func WithImage(image string) headDataOption {
	return func(hd *headData) {
		hd.image = image
	}
}

func WithSlug(slug string) headDataOption {
	return func(hd *headData) {
		hd.slug = slug
	}
}

func WithMetaType(metaType string) headDataOption {
	return func(hd *headData) {
		hd.metaType = metaType
	}
}

func WithExtraMeta(content, name, property string) headDataOption {
	return func(hd *headData) {
		hd.extraMeta = append(hd.extraMeta, metaContent{
			content:  content,
			name:     name,
			property: property,
		})
	}
}

func Head(ctx context.Context, opts ...headDataOption) templ.Component {
	slug := config.Cfg.GetFullDomain()
	appCtx := contexts.ExtractApp(ctx)
	if appCtx.CurrentPath != "" {
		slug = slug + appCtx.CurrentPath
	}

	data := &headData{
		title:       config.Cfg.ProjectName,
		description: "A starter template for building one-man businesses using Golang.",
		slug:        slug,
		metaType:    "website",
	}

	for _, opt := range opts {
		opt(data)
	}

	return head(*data)
}

templ head(data headData) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:creator" content="@mbvlabs"/>
		<title>
			{ data.title }
		</title>
		<link href="/static/css/main-dev.css" rel="stylesheet"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png"/>
		<meta property="og:type" content={ data.metaType }/>
		<meta property="og:title" content={ data.title }/>
		<meta property="og:description" content={ data.description }/>
		<meta property="og:url" content={ data.slug }/>
		<meta property="og:site_name" content={ data.title }/>
		if data.image != "" {
			<meta property="og:image" content={ data.image }/>
		}
		for _, extraMeta := range data.extraMeta {
			<meta
				if extraMeta.name != "" {
					name={ extraMeta.name }
				}
				if extraMeta.property != "" {
					property={ extraMeta.property }
				}
				if extraMeta.content != "" {
					content={ extraMeta.content }
				}
			/>
		}
		<meta name="description" content={ data.description }/>
		<link
			rel="canonical"
			href={ data.slug }
		/>
	</head>
}
