package views

import (
	"github.com/mbvlabs/grafto/views/internal/components"
	"github.com/mbvlabs/grafto/views/internal/layouts"
)

templ HomePage() {
	@layouts.Base() {
		<main class="flex-1 w-full px-4 flex flex-col justify-center items-center">
			<h1 class="text-2xl font-bold">Grafto</h1>
			<p class="max-w-[768px] mx-auto">
				Grafto is a kickstarter template for full-stack Go apps, using your grandfather's technology. It focuses
				on simplicity, fast iteration and easy deployments. Built for indiehacking Gophers, by indiehacking Gophers.
			</p>
			<div class="flex justify-center mt-2">
				@components.ExternalLink("Get the source code", "https://github.com/mbvlabs/grafto")
			</div>
		</main>
	}
}
