package layouts

import "github.com/mbv-labs/grafto/views/internal/components"

templ Base(head templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@head
		<body class="flex flex-col min-w-screen h-screen">
			@components.Nav()
			{ children... }
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/alpine.js"></script>
		</body>
	</html>
}
