package layouts

import (
	"github.com/MBvisti/grafto/views/internal/components"
)

templ Base(head templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@head
		<body class="min-h-[100vh] flex flex-col bg-gray-800">
			@components.Nav()
			{ children... }
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/alpine.js"></script>
		</body>
	</html>
}
