package components

type ButtonProps struct {
	Size     string
	Variant  string
	Disabled bool
}

templ Button(text string, attributes templ.Attributes, props ButtonProps) {
	<button
		{ attributes... }
		class={ 
			"btn",
			templ.KV("btn-sm", props.Size == "small"),
			templ.KV("btn-md", props.Size == "medium" || props.Size == ""),
			templ.KV("btn-lg", props.Size == "large"),
			templ.KV("btn-success", props.Variant == "success"),
			templ.KV("btn-info", props.Variant == "info"),
			templ.KV("btn-warning", props.Variant == "warning"),
			templ.KV("btn-error", props.Variant == "danger"),
		}
		disabled?={ props.Disabled }
	>
		{ text }
	</button>
}

templ ButtonSmall(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "small"})
}

templ ButtonMedium(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "medium"})
}

templ ButtonLarge(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "large"})
}

templ ButtonSuccess(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Variant: "success"})
}

templ ButtonInfo(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Variant: "info"})
}

templ ButtonWarning(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Variant: "warning"})
}

templ ButtonDanger(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Variant: "danger"})
}

templ ButtonSuccessSmall(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "small", Variant: "success"})
}

templ ButtonSuccessMedium(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "medium", Variant: "success"})
}

templ ButtonSuccessLarge(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "large", Variant: "success"})
}

templ ButtonInfoSmall(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "small", Variant: "info"})
}

templ ButtonInfoMedium(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "medium", Variant: "info"})
}

templ ButtonInfoLarge(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "large", Variant: "info"})
}

templ ButtonWarningSmall(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "small", Variant: "warning"})
}

templ ButtonWarningMedium(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "medium", Variant: "warning"})
}

templ ButtonWarningLarge(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "large", Variant: "warning"})
}

templ ButtonDangerSmall(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "small", Variant: "danger"})
}

templ ButtonDangerMedium(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "medium", Variant: "danger"})
}

templ ButtonDangerLarge(text string, attributes templ.Attributes) {
	@Button(text, attributes, ButtonProps{Size: "large", Variant: "danger"})
}