package emails

import (
	"context"
	"github.com/mbvlabs/grafto/config"
)

type SignupWelcome struct {
	ConfirmationLink string
}

var _ TemplateHandler = (*SignupWelcome)(nil)

func (s SignupWelcome) Generate(ctx context.Context) (Html, Text, error) {
	html, plainText, err := processEmail(ctx, s.template())
	if err != nil {
		return Html(""), Text(""), err
	}

	return Html(html), Text(plainText), nil
}

templ (s SignupWelcome) template() {
	@baseTwo("Grafto Newsleter") {
		@brandBanner()
		@mainContent() {
			@headerNew() {
				Hi there,
			}
			@paragraph() {
				Thanks for signing up for { config.Cfg.ProjectName }. We’re thrilled to have you on board.
			}
			@paragraph() {
				To continue, we need you to confirm your mail.
			}
			@btn("Confirm mail", s.ConfirmationLink) {
			}
		}
		@footerNew("https://mbvlabs.com")
	}
}
