{{ block "__register_form" . }}
<div hx-target="this" hx-swap="outerHTML" class="p-4 sm:p-7">
    <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Register User</h1>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
            Already have an account?
            <a class="text-blue-600 decoration-2 hover:underline font-medium" href="/login">
                Sign in here
            </a>
        </p>
    </div>

    <div class="mt-5">
        <form hx-post="/user/store" action="/user/store" method="post">
            {{ .Data.CsrfField }}
            <div class="grid gap-y-4">
                <div>
                    <label for="email" class="block text-sm mb-2 dark:text-white">User name</label>
                    <div class="relative">
                        <input type="text" name="user_name"
                            class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                            required aria-describedby="email-error" {{ if .Data.NameInput.OldValue }}
                            value={{.Data.NameInput.OldValue}} {{ end }}>
                        {{ if .Data.NameInput.Invalid }}
                        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3">
                            <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div>
                    <div class="flex items center">
                        <label for="email" class="block text-sm mb-2 dark:text-white">Email address</label>
                        {{ if .Data.EmailInput.Invalid }}
                        <p class="ml-2 text-sm text-red-500">{{ .Data.EmailInput.InvalidMsg }}</p>
                        {{ end }}
                    </div>
                    <div class="relative">
                        <input type="email" name="email"
                            class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                            required aria-describedby="email-error" {{ if .Data.EmailInput.OldValue }}
                            value={{.Data.EmailInput.OldValue}} {{ end }}>
                        {{ if .Data.EmailInput.Invalid }}
                        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3">
                            <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm mb-2 dark:text-white">Password</label>
                    <div class="relative">
                        <input type="password" id="password" name="password"
                            class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                            required aria-describedby="password-error" minlength="8">
                        {{ if .Data.PasswordInput.Invalid }}
                        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3">
                            <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div>
                    {{ if .Data.ConfirmPassword.Invalid }}
                    <p class="block text-sm mb-2 dark:text-red-500">{{ .Data.ConfirmPassword.InvalidMsg | title }}</p>
                    {{ end }}
                    <label for="confirm-password" class="block text-sm mb-2 dark:text-white">Confirm
                        Password</label>
                    <div class="relative">
                        <input type="password" id="confirm-password" name="confirm_password"
                            class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                            required aria-describedby="confirm-password-error" minlength="8">
                        {{ if .Data.ConfirmPassword.Invalid }}
                        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none pr-3">
                            <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <button type="submit"
                    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Sign
                    up</button>
            </div>
        </form>
    </div>
</div>
{{ end }}
